html {
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Helvetica,
    Arial,
    sans-serif,
    'Apple Color Emoji',
    'Segoe UI Emoji',
    'Segoe UI Symbol';
  font-size: 16px;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* @block page */
.page {
  display: grid;
  min-height: 100%;
  padding: 2rem 2rem 0;
  box-sizing: border-box;
  grid-template-rows: auto 1fr;
}

.page__title {
  margin: 0 0 2rem;
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.5;
}

/* @block widget */
.widget {
  display: grid;
  grid-gap: 1rem;
  grid-template-areas:
    'aside filters'
    'aside viewport';
  grid-template-columns: minmax(auto, .25fr) 1fr;
  grid-template-rows: auto minmax(150px, 1fr);
}

.widget__aside {
  grid-area: aside;
}

.widget__data-types {
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;
}

.widget__data-type {
  position: relative;
  margin-bottom: .5rem;
}

.widget__data-type-control {
  width: 0;
  height: 0;
  position: absolute;
  z-index: -1;
  appearance: none;
  opacity: 0;
}

.widget__data-type-label {
  display: block;
  padding: 1rem 2rem;
  background-color: royalblue;
  border-radius: .25rem;
  color: #fff;
  font-size: 1.25rem;
  font-weight: 500;
  cursor: pointer;
}

.widget__data-type-control:checked + .widget__data-type-label {
  background-color: darkblue;
  cursor: default;
}

.widget__filters {
  display: flex;
  grid-area: filters;
}

.widget__filter {
  display: block;
  margin: 0;
  padding: .5rem 2rem .5rem 1rem;
  background-color: #fff;
  background-image: url(/images/calendar.svg);
  background-position: right .5rem top 50%;
  background-repeat: no-repeat;
  border: 1px solid #aaa;
  border-radius: .25rem;
  font: inherit;
  line-height: calc(1.5rem - 2px);
  appearance: none;
  -webkit-appearance: none;
  flex-grow: 1;
  transition-duration: .15s;
  transition-property:
    border,
    box-shadow;
  transition-timing-function: ease-in-out;
  box-shadow: 0 0 0 0 rgba(0, 0, 200, .2);
}

.widget__filter:not(:first-child) {
  margin-left: 1rem;
}

.widget__filter:focus {
  border: 1px solid #008cff;
  box-shadow: 0 0 0 .25rem rgba(0, 140, 255, .25);
  outline: 0;
}

.widget__viewport {
  display: flex;
  border-radius: .25rem;
  box-shadow:
    0 0 2px rgba(0, 0, 0, .1),
    0 0 10px rgba(0, 0, 0, .1);
  align-items: center;
  justify-content: center;
  grid-area: viewport;
}
